body {
  background: linear-gradient(-225deg, #adf0ef 0%, #9efffd 100%);
  font-family: "Quicksand", sans-serif;
  border: 1px solid #0fcdf3;
  padding: 20px;
  margin: 0px auto;
  border-radius: 25px;
  max-width: 750px;
  font-size: 2vw;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
i {
  font-size: 36px;
}
p {
  font-size: 20px;
}
a {
  text-decoration: none;
}
.citySearchForm {
  padding: 0px;
}
.tempUnits .active {
  color: black;
  cursor: default;
}
.tempUnits .active:hover {
  text-decoration: none;
}
.weatherForecast {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.weatherForecastTemperatureMin {
  opacity: 85%;
  font-size: 14px;
}
.openSourceCodeLink {
  text-align: center;
  font-size: 12px;
}
.gitHubLink {
  text-decoration: underline;
}
.netlifyLink {
  text-decoration: underline;
}
